{% extends "base.html" %} {% block title %}Add Employee{% endblock %} {% block
content %}
<h1 class="text-3xl font-bold mb-6">Ajouter Employee</h1>
<form method="POST" class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-lg">
  <div class="mb-4">
    <label for="name" class="block font-medium text-gray-700">Nom:</label>
    <input
      type="text"
      id="name"
      name="name"
      class="w-full border rounded p-2 mt-1"
      required
    />
  </div>
  <div class="mb-4">
    <label for="email" class="block font-medium text-gray-700">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      class="w-full border rounded p-2 mt-1"
      required
    />
  </div>
  <div class="mb-4">
    <label for="password" class="block font-medium text-gray-700"
      >Mot de passe:</label
    >
    <input
      type="password"
      id="password"
      name="password"
      class="w-full border rounded p-2 mt-1"
      required
    />
  </div>
  <div class="mb-4">
    <label for="position" class="block font-medium text-gray-700"
      >Poste occupé:</label
    >
    <input
      type="text"
      id="position"
      name="position"
      class="w-full border rounded p-2 mt-1"
      required
    />
  </div>
  <div class="mb-4">
    <label for="department" class="block font-medium text-gray-700"
      >Departement:</label
    >
    <input
      type="text"
      id="department"
      name="department"
      class="w-full border rounded p-2 mt-1"
      required
    />
  </div>
  <button
    type="submit"
    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded"
  >
    Ajouter Employé
  </button>
</form>
{% endblock %}
